<!DOCTYPE html>
<html>
<head>
<title>Store Locator: add_inventory</title>
<link href="/css/add_inventory_bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/add_inventory_jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/css/add_inventory_style.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/add_inventory_form.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pakhi Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!-- dropdown -->
<script src="/js/add_inventory_jquery.easydropdown.js"></script>
<link href="/css/add_inventory_nav.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="/js/hover_pack.js"></script>
		  <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="c-header" id="home">
		<div class="top-header">
			<div class="container">
			<div class="logo">
				<a href="index.html"><img src="" alt="" /></a>
			</div>
				<div class="header-top-right">
				<!-- start search-->
				    <div class="search-box">
					    <div id="sb-search" class="sb-search">
							<form>
								<input class="sb-search-input" placeholder="Search your Product..." type="search" name="search" id="search">
								<input class="sb-search-submit" type="submit" value="">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
				    </div>
					<!-- search-scripts -->
					<script src="/js/add_inventory_classie.js"></script>
					<script src="/js/add_inventory_uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
					<!-- //search-scripts -->

					
				</div>
			<div class="navigation">	
			<div>
              <label class="mobile_menu" for="mobile_menu">
              <span>Menu</span>
              </label>
              <input id="mobile_menu" type="checkbox">
				<ul class="nav">
              <li class="active"><a href="index.html">Home</a></li>                       
                           
            
			  <div class="clearfix"></div>
				</ul>
			</div>			
			</div>
			</div>
		</div>
		</div>
		<!-- start Dresses-page -->
	<!-- content-section-starts -->
	<div class="container">
	<div class="dreamcrub">
			   	
    <div class="col-xs-12 ">
          
           <ul class="nav nav-pills" role="tablist">
          <li class="active in"><a href="/shop/inventory" role="tab" data-toggle="tab">mobile</a></li>
          <li><a href="/shop/inventory" role="tab" data-toggle="tab">grocery</a></li>
          <li><a href="/shop/inventory" role="tab" data-toggle="tab">book</a></li>
          <li><a href="/shop/inventory" role="tab" data-toggle="tab">general store</a></li>

          </ul>
    </div>
				
    <div class="clearfix"></div>
	</div>
	</div>
	
	<div class="container">
	<div class="tab-content">
  
	<!-- content -->
	<div class="tab-pane fade active in" id="book">
		<div class="box1">
				   <div class="col_1_of_single1 span_1_of_single1">
				     <div class="view1 view-fifth1">
				  	  <div class="top_box">
					  	<h3 class="m_1">Name of the product</h3>
					  	<p class="m_2">Category</p>
						<a href="single.html">
				         <div class="grid_img">
						   <div class="css3"><img src="/images/add_inventory_images/pic-5.jpg" alt=""/></div>
					          <div class="mask1">
	                       		<div class="info">Quick View</div>
			                  </div>
	                    </div>
                       <div class="price">price</div>
					   </div>
					    </div></a>
						<div class="rtng">
					    <form action="" class="sky-form">
						     <fieldset>					
							   <section>
							     <div class="rating">
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>select</label>
								 </div>
							  </section>
						    </fieldset>
						  </form>
						  </div>
						 <ul class="list2">
						  <li>
						  	<img src="/images/add_inventory_images/plus.png" alt=""/>
						  	<ul class="icon1 sub-icon1 profile_img">
							  <li><a class="active-icon c1" href="single.html">Inventory </a>
								<ul class="sub-icon1 list">
									<li><h3>Add to your inventory</h3><a href=""></a></li>
								</ul>
							  </li>
							 </ul>
						   </li>
					     </ul>
			    	    <div class="clear"></div>
			    	</div>
				    <div class="col_1_of_single1 span_1_of_single1">
				     <div class="view1 view-fifth1">
				  	  <div class="top_box">
					  	<h3 class="m_1">Name of the product</h3>
					  	<p class="m_2">Category</p>
						<a href="single.html">
				         <div class="grid_img">
						   <div class="css3"><img src="/images/add_inventory_images/pic-3.jpg" alt=""/></div>
					          <div class="mask1">
	                       		<div class="info">Quick View</div>
			                  </div>
	                    </div>
                       <div class="price">price</div>
					   </div>
					    </div></a>
					   <div class="rtng">
					    <form action="" class="sky-form">
						     <fieldset>					
							   <section>
							     <div class="rating">
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>select</label>
								 </div>
							  </section>
						    </fieldset>
						  </form>
						  </div>
						 <ul class="list2">
						  <li>
						  	<img src="/images/add_inventory_images/plus.png" alt=""/>
						  	<ul class="icon1 sub-icon1 profile_img">
							  <li><a class="active-icon c1" href="single.html">Inventory </a>
								<ul class="sub-icon1 list">
									<li><h3>Add to your inventory</h3><a href=""></a></li>
								</ul>
							  </li>
							 </ul>
						   </li>
					     </ul>
			    	    <div class="clear"></div>
			    	</div>
				   <div class="col_1_of_single1 span_1_of_single1">
				     <div class="view1 view-fifth1">
				  	  <div class="top_box">
					  	<h3 class="m_1">Name of the product</h3>
					  	<p class="m_2">Category</p>
						<a href="single.html">
				         <div class="grid_img">
						   <div class="css3"><img src="/images/add_inventory_images/pic-9.jpg" alt=""/></div>
					          <div class="mask1">
	                       		<div class="info">Quick View</div>
			                  </div>
	                    </div>
                       <div class="price">price</div>
					   </div>
					    </div></a>
					   <div class="rtng">
					    <form action="" class="sky-form">
						     <fieldset>					
							   <section>
							     <div class="rating">
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>select</label>
								 </div>
							  </section>
						    </fieldset>
						  </form>
						  </div>
						 <ul class="list2">
						  <li>
						  	<img src="/images/add_inventory_images/plus.png" alt=""/>
						  	<ul class="icon1 sub-icon1 profile_img">
							  <li><a class="active-icon c1" href="single.html">Inventory </a>
								<ul class="sub-icon1 list">
									<li><h3>Add to your inventory</h3><a href=""></a></li>
								</ul>
							  </li>
							 </ul>
						   </li>
					     </ul>
			    	    <div class="clearfix"></div>
			    	</div>
				  <div class="clearfix"></div>
			  </div>
	</div>
	
	<div class="tab-pane fade active in" id="grocery">
			<div class="box1">
				   <div class="col_1_of_single1 span_1_of_single1">
				     <div class="view1 view-fifth1">
				  	  <div class="top_box">
					  	<h3 class="m_1">Name of the product</h3>
					  	<p class="m_2">Category</p>
						<a href="single.html">
				         <div class="grid_img">
						   <div class="css3"><img src="/images/add_inventory_images/pic-1.jpg" alt=""/></div>
					          <div class="mask1">
	                       		<div class="info">Quick View</div>
			                  </div>
	                    </div>
                       <div class="price">price</div>
					   </div>
					    </div></a>
						<div class="rtng">
					    <form action="" class="sky-form">
						     <fieldset>					
							   <section>
							     <div class="rating">
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>select</label>
								 </div>
							  </section>
						    </fieldset>
						  </form>
						  </div>
						 <ul class="list2">
						  <li>
						  	<img src="/images/add_inventory_images/plus.png" alt=""/>
						  	<ul class="icon1 sub-icon1 profile_img">
							  <li><a class="active-icon c1" href="single.html">Inventory </a>
								<ul class="sub-icon1 list">
									<li><h3>Add to your inventory</h3><a href=""></a></li>
								</ul>
							  </li>
							 </ul>
						   </li>
					     </ul>
			    	    <div class="clear"></div>
			    	</div>
				    <div class="col_1_of_single1 span_1_of_single1">
				     <div class="view1 view-fifth1">
				  	  <div class="top_box">
					  	<h3 class="m_1">Name of the product</h3>
					  	<p class="m_2">Category</p>
						<a href="single.html">
				         <div class="grid_img">
						   <div class="css3"><img src="/images/add_inventory_images/pic-2.jpg" alt=""/></div>
					          <div class="mask1">
	                       		<div class="info">Quick View</div>
			                  </div>
	                    </div>
                       <div class="price">price</div>
					   </div>
					    </div></a>
					   <div class="rtng">
					    <form action="" class="sky-form">
						     <fieldset>					
							   <section>
							     <div class="rating">
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>select</label>
								 </div>
							  </section>
						    </fieldset>
						  </form>
						  </div>
						 <ul class="list2">
						  <li>
						  	<img src="/images/add_inventory_images/plus.png" alt=""/>
						  	<ul class="icon1 sub-icon1 profile_img">
							  <li><a class="active-icon c1" href="single.html">Inventory </a>
								<ul class="sub-icon1 list">
									<li><h3>Add to your inventory</h3><a href=""></a></li>
								</ul>
							  </li>
							 </ul>
						   </li>
					     </ul>
			    	    <div class="clear"></div>
			    	</div>
				   <div class="col_1_of_single1 span_1_of_single1">
				     <div class="view1 view-fifth1">
				  	  <div class="top_box">
					  	<h3 class="m_1">Name of the product</h3>
					  	<p class="m_2">Category</p>
						<a href="single.html">
				         <div class="grid_img">
						   <div class="css3"><img src="/images/add_inventory_images/pic-4.jpg" alt=""/></div>
					          <div class="mask1">
	                       		<div class="info">Quick View</div>
			                  </div>
	                    </div>
                       <div class="price">price</div>
					   </div>
					    </div></a>
					   <div class="rtng">
					    <form action="" class="sky-form">
						     <fieldset>					
							   <section>
							     <div class="rating">
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>select</label>
								 </div>
							  </section>
						    </fieldset>
						  </form>
						  </div>
						 <ul class="list2">
						  <li>
						  	<img src="/images/add_inventory_images/plus.png" alt=""/>
						  	<ul class="icon1 sub-icon1 profile_img">
							  <li><a class="active-icon c1" href="single.html">Inventory </a>
								<ul class="sub-icon1 list">
									<li><h3>Add to your inventory</h3><a href=""></a></li>
								</ul>
							  </li>
							 </ul>
						   </li>
					     </ul>
			    	    <div class="clearfix"></div>
			    	</div>
				  <div class="clearfix"></div>
			  </div>
	</div>
	
	<div class="tab-pane fade active in" id="mobile">
			<div class="box1">
				   <div class="col_1_of_single1 span_1_of_single1">
				     <div class="view1 view-fifth1">
				  	  <div class="top_box">
					  	<h3 class="m_1">Name of the product</h3>
					  	<p class="m_2">Category</p>
						<a href="single.html">
				         <div class="grid_img">
						   <div class="css3"><img src="/images/add_inventory_images/pic-6.jpg" alt=""/></div>
					          <div class="mask1">
	                       		<div class="info">Quick View</div>
			                  </div>
	                    </div>
                       <div class="price">price</div>
					   </div>
					    </div></a>
						<div class="rtng">
					    <form action="" class="sky-form">
						     <fieldset>					
							   <section>
							     <div class="rating">
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>select</label>
								 </div>
							  </section>
						    </fieldset>
						  </form>
						  </div>
						 <ul class="list2">
						  <li>
						  	<img src="/images/add_inventory_images/plus.png" alt=""/>
						  	<ul class="icon1 sub-icon1 profile_img">
							  <li><a class="active-icon c1" href="single.html">Inventory </a>
								<ul class="sub-icon1 list">
									<li><h3>Add to your inventory</h3><a href=""></a></li>
								</ul>
							  </li>
							 </ul>
						   </li>
					     </ul>
			    	    <div class="clear"></div>
			    	</div>
				    <div class="col_1_of_single1 span_1_of_single1">
				     <div class="view1 view-fifth1">
				  	  <div class="top_box">
					  	<h3 class="m_1">Name of the product</h3>
					  	<p class="m_2">Category</p>
						<a href="single.html">
				         <div class="grid_img">
						   <div class="css3"><img src="/images/add_inventory_images/pic-7.jpg" alt=""/></div>
					          <div class="mask1">
	                       		<div class="info">Quick View</div>
			                  </div>
	                    </div>
                       <div class="price">price</div>
					   </div>
					    </div></a>
					   <div class="rtng">
					    <form action="" class="sky-form">
						     <fieldset>					
							   <section>
							     <div class="rating">
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>select</label>
								 </div>
							  </section>
						    </fieldset>
						  </form>
						  </div>
						 <ul class="list2">
						  <li>
						  	<img src="/images/add_inventory_images/plus.png" alt=""/>
						  	<ul class="icon1 sub-icon1 profile_img">
							  <li><a class="active-icon c1" href="single.html">Inventory </a>
								<ul class="sub-icon1 list">
									<li><h3>Add to your inventory</h3><a href=""></a></li>
								</ul>
							  </li>
							 </ul>
						   </li>
					     </ul>
			    	    <div class="clear"></div>
			    	</div>
				   <div class="col_1_of_single1 span_1_of_single1">
				     <div class="view1 view-fifth1">
				  	  <div class="top_box">
					  	<h3 class="m_1">Name of the product</h3>
					  	<p class="m_2">Category</p>
						<a href="single.html">
				         <div class="grid_img">
						   <div class="css3"><img src="/images/add_inventory_images/pic-8.jpg" alt=""/></div>
					          <div class="mask1">
	                       		<div class="info">Quick View</div>
			                  </div>
	                    </div>
                       <div class="price">price</div>
					   </div>
					    </div></a>
					   <div class="rtng">
					    <form action="" class="sky-form">
						     <fieldset>					
							   <section>
							     <div class="rating">
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>select</label>
								 </div>
							  </section>
						    </fieldset>
						  </form>
						  </div>
						 <ul class="list2">
						  <li>
						  	<img src="/images/add_inventory_images/plus.png" alt=""/>
						  	<ul class="icon1 sub-icon1 profile_img">
							  <li><a class="active-icon c1" href="single.html">Inventory </a>
								<ul class="sub-icon1 list">
									<li><h3>Add to your inventory</h3><a href=""></a></li>
								</ul>
							  </li>
							 </ul>
						   </li>
					     </ul>
			    	    <div class="clearfix"></div>
			    	</div>
				  <div class="clearfix"></div>
			  </div>
	</div>

	<div class="tab-pane fade active in" id="general">
		<div class="box1">
				   <div class="col_1_of_single1 span_1_of_single1">
				     <div class="view1 view-fifth1">
				  	  <div class="top_box">
					  	<h3 class="m_1">Name of the product</h3>
					  	<p class="m_2">Category</p>
						<a href="single.html">
				         <div class="grid_img">
						   <div class="css3"><img src="/images/add_inventory_images/pic-10.jpg" alt=""/></div>
					          <div class="mask1">
	                       		<div class="info">Quick View</div>
			                  </div>
	                    </div>
                       <div class="price">price</div>
					   </div>
					    </div></a>
						<div class="rtng">
					    <form action="" class="sky-form">
						     <fieldset>					
							   <section>
							     <div class="rating">
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>select</label>
								 </div>
							  </section>
						    </fieldset>
						  </form>
						  </div>
						 <ul class="list2">
						  <li>
						  	<img src="/images/add_inventory_images/plus.png" alt=""/>
						  	<ul class="icon1 sub-icon1 profile_img">
							  <li><a class="active-icon c1" href="single.html">Inventory </a>
								<ul class="sub-icon1 list">
									<li><h3>Add to your inventory</h3><a href=""></a></li>
								</ul>
							  </li>
							 </ul>
						   </li>
					     </ul>
			    	    <div class="clear"></div>
			    	</div>
				 <div class="col_1_of_single1 span_1_of_single1">
				     <div class="view1 view-fifth1">
				  	  <div class="top_box">
					  	<h3 class="m_1">Name of the product</h3>
					  	<p class="m_2">Category</p>
						<a href="single.html">
				         <div class="grid_img">
						   <div class="css3"><img src="/images/add_inventory_images/pic-11.jpg" alt=""/></div>
					          <div class="mask1">
	                       		<div class="info">Quick View</div>
			                  </div>
	                    </div>
                       <div class="price">price</div>
					   </div>
					    </div></a>
					   <div class="rtng">
					    <form action="" class="sky-form">
						     <fieldset>					
							   <section>
							     <div class="rating">
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>select</label>
								 </div>
							  </section>
						    </fieldset>
						  </form>
						  </div>
						 <ul class="list2">
						  <li>
						  	<img src="/images/add_inventory_images/plus.png" alt=""/>
						  	<ul class="icon1 sub-icon1 profile_img">
							  <li><a class="active-icon c1" href="single.html">Inventory </a>
								<ul class="sub-icon1 list">
									<li><h3>Add to your inventory</h3><a href=""></a></li>
								</ul>
							  </li>
							 </ul>
						   </li>
					     </ul>
			    	    <div class="clearfix"></div>
			    	</div>
				  <div class="clearfix"></div>
			  </div>
    </div>
	<!-- content -->
	

   <!--<div class="clearfix"></div>-->
 </div>
		       <button type="button" class="btn btn-info btn-lg">Submit</button> 
</div>
	<!-- content-section-ends -->


		<div class="footer">
		<div class="up-arrow">
			<a class="scroll" href="#home"><img src="/images/add_inventory_images/up.png" alt="" /></a>
		</div>
			<div class="container">
				<div class="copyrights">
					<p>by Team 23</a></p>
				</div>
				  <div class="clearfix"></div>
			</div>
		</div>
</body>
</html>





