<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Store Locator: Shopkeeper Profile</title>
  <!-- BOOTSTRAP STYLES-->
  <link href="/css/shop_profile_bootstrap.css" rel="stylesheet" />
  <!-- FONTAWESOME STYLES-->
  <link href="/css/font-awesome.css" rel="stylesheet" />
  <!-- CUSTOM STYLES-->
  <link href="/css/shop_profile_custom.css" rel="stylesheet" />
  <!-- GOOGLE FONTS-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" >Shpkeeper </a> 
            </div>
            <div style="color: white;
            padding: 15px 50px 5px 50px;
            float: right; font-size:16px;" >
            <a href="/logout" class="btn btn-danger square-btn-adjust">Logout</a> 
           </div>
        </nav>   
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <img src="/images/shop_profile_image/find_user.png" class="user-image img-responsive"/>
                    </li>
                    <li>
                        <a  href="/updatelocation"><i class="fa fa-dashboard fa-3x"></i> Update Location</a>
                    </li>
                    
                    <li>
                        <a  href="/profile"><i class="fa fa-dashboard fa-3x"></i> view profile</a>
                    </li>
                </ul>
            </div>
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                       <h2>{{fname}} {{lname}}</h2>  
                   </div>
               </div>


               
                   <div class="form-group">
                    <label>First Name </label>
                    <input type="text" class="form-control" name="fname" value={{fname}}>
                </div>  
                <div class="form-group">
                    <label>last Name </label>
                    <input type="text" class="form-control" name="lname" value={{lname}} >
                </div>
                <div class="form-group">
                    <label>Shop Name. </label>
                    <input type="text" class="form-control" name="shop_name" value={{shopname}} >
                </div>


                <div class="form-group">
                    <label>Shop Address </label>
                    <input type="text" class="form-control" name="shop_add" value={{add}} >
                </div>


                <div class="form-group">
                    <label>Email</label>
                    <input type="text"class="form-control" name="email" value={{email}} >
                </div>

                <div class="form-group">
                    <label>Contact number </label>
                    <input type="text" class="form-control" name= "mobile" value={{mobile}} >
                </div>
                         
                



            <!-- /. ROW  -->






        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="/js/bootstrap.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="/js/shop_profile_custom.js"></script>


</body>
</html>
