<head>
<title>Store Locator: customer_search</title>
<link href="/css/cust_search_bootstrap.css" rel="stylesheet" type="text/css">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/cust_search_jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/css/cust_search_style.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/cust_search_form.css" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Pakhi Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
<!-- dropdown -->
<script src="/js/cust_search_jquery.easydropdown.js"></script>
<link href="/css/cust_search_nav.css" rel="stylesheet" type="text/css" media="all">
<script type="text/javascript" src="js/hover_pack.js"></script>
		  <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="c-header" id="home">
		<div class="top-header">
			<div class="container">
			<div class="logo">
				<a href="index.html"><img src="" alt=""></a>
			</div>
				<div class="header-top-right">
				<!-- start search-->
				    <div class="search-box">
					    <div id="sb-search" class="sb-search">
							<form>
								<input name="query" class="sb-search-input" placeholder="Search your Product..." id="search" type="search">
								<input class="sb-search-submit" value="" type="submit">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
				    </div>
					<!-- search-scripts -->
					<script src="/js/cust_search_classie.js"></script>
					<script src="/js/cust_search_uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
					<!-- //search-scripts -->

					
				</div>
				
			<div class="navigation">	
			<div>
              <label class="mobile_menu" for="mobile_menu">
              <span>Menu</span>
              </label>
              <input id="mobile_menu" type="checkbox">
				<ul class="nav">
              <li class="active"><a href="index.html">Home</a></li>                       
                           
            
			  <div class="clearfix"></div>
				</ul>
			</div>			
			</div>
			</div>
		</div>
		</div>
		<!-- start Dresses-page -->
	<!-- content-section-starts -->
	<div class="container">
	<div class="dreamcrub">
			   	
    <div class="col-xs-12 ">
          
           <ul class="nav nav-pills">
           	{%for cat in categories%}
	         <li class="active in"><a href="">{{cat.name}}</a></li>
          		{%endfor%}

          </ul>
    </div>
				
    <div class="clearfix"></div>
	</div>
	</div>
	
	<div class="container">
	<div class="tab-content">
  
	<!-- content -->
	<div class="tab-pane fade active in" id="book">
		<form method="POST" >
		{%for i in range(0,products|length,3)%}
				<div class=".col-md-12">
					
					{% if i < products|length %}
					<div class=".col-md-3">
				   <div class="col_1_of_single1 span_1_of_single1">
				     <div class="view1 view-fifth1">
				  	  <div class="top_box">
					  	<h3 class="m_1">{{products[i].name}}</h3>
					  	<p class="m_2">Category</p>
						<a href="single.html">
				         <div class="grid_img">
						   <div class="css3"><img src="/images/cust_search_images/pic-5.jpg" alt=""></div>
					          <div class="mask1">
	                       		<div class="info">Quick View</div>
			                  </div>
	                    </div>
                       <div class="price">price</div>
					   </a></div><a href="single.html">
					    </a></div>
						<div class="rtng">
					   
						     <fieldset>					
							   <section>
							     <div class="rating">
									<label class="checkbox"><input name="{{i}}" value={{products[i].key.id()}} type="checkbox"><i></i>select</label>
								 </div>
							  </section>
						    </fieldset>
						  
						  </div>

			    	    <div class="clear"></div>
			    	</div>
				    </div>
				    {% endif %}
				    {% if i+1 < products|length %}
				    <div class=".col-md-3">
				   <div class="col_1_of_single1 span_1_of_single1">
				     <div class="view1 view-fifth1">
				  	  <div class="top_box">
					  	<h3 class="m_1">{{products[i+1].name}}</h3>
					  	<p class="m_2">Category</p>
						<a href="single.html">
				         <div class="grid_img">
						   <div class="css3"><img src="/images/cust_search_images/pic-5.jpg" alt=""></div>
					          <div class="mask1">
	                       		<div class="info">Quick View</div>
			                  </div>
	                    </div>
                       <div class="price">price</div>
					   </a></div><a href="single.html">
					    </a></div>
						<div class="rtng">
					    
						     <fieldset>					
							   <section>
							     <div class="rating">
									<label class="checkbox"><input name="{{i+1}}" value={{products[i+1].key.id()}} type="checkbox"><i></i>select</label>
								 </div>
							  </section>
						    </fieldset>
						  						  </div>

			    	    <div class="clear"></div>
			    	</div>
				    </div>
				    {% endif %}
				    {% if i+2 < products|length%}
				    	<div class=".col-md-3">
				   <div class="col_1_of_single1 span_1_of_single1">
				     <div class="view1 view-fifth1">
				  	  <div class="top_box">
					  	<h3 class="m_1">{{products[i+2].name}}</h3>
					  	<p class="m_2">Category</p>
						<a href="single.html">
				         <div class="grid_img">
						   <div class="css3"><img src="/images/cust_search_images/pic-5.jpg" alt=""></div>
					          <div class="mask1">
	                       		<div class="info">Quick View</div>
			                  </div>
	                    </div>
                       <div class="price">price</div>
					   </a></div><a href="single.html">
					    </a></div>
						<div class="rtng">
					    
						     <fieldset>					
							   <section>
							     <div class="rating">
									<label class="checkbox"><input name="{{i+2}}" value={{products[i+2].key.id()}} type="checkbox"><i></i>select</label>
								 </div>
							  </section>
						    </fieldset>
						  
						  </div>

			    	    <div class="clear"></div>
			    	</div>
				    </div>
				    {% endif %}
				  <div class="clearfix"></div>
			 </div>
			  {%endfor%}
			  <input type="hidden" value = {{products|length}} name = "length">
			  <input type="Submit">
			</form>  
	</div>
	

	

	
	<!-- content -->
	

 
	<!-- content-section-ends -->


		<div class="footer">
		<div class="up-arrow">
			<a class="scroll" href="#home"><img src="/images/cust_search_images/up.png" alt=""></a>
		</div>
			<div class="container">
				<div class="copyrights">
					<p>by Team 23</p>
				</div>
				  <div class="clearfix"></div>
			</div>
		</div>






</body>