<!DOCTYPE html>
<html>
<head>
<title>Store Locator: Search page</title>
<link href="/css/getlist_bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/getlist_jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/css/getlist_style.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/getlist_form.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pakhi Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!-- dropdown -->
<script src="/js/getlist_jquery.easydropdown.js"></script>
<link href="/css/getlist_nav.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="/js/getlist_hover_pack.js"></script>
		  <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
	<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script>$(document).ready(function(c) {
	$('.alert-close').on('click', function(c){
		$('.message').fadeOut('slow', function(c){
	  		$('.message').remove();
		});
	});	  
});
</script>
<script>$(document).ready(function(c) {
	$('.alert-close1').on('click', function(c){
		$('.message1').fadeOut('slow', function(c){
	  		$('.message1').remove();
		});
	});	  
});
</script>
<script
src="http://maps.googleapis.com/maps/api/js">
</script>
<script>
function initialize()
{
  var mapProp = {
    center: new google.maps.LatLng(51.508742,-0.120850),
    zoom:9,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var mapProp2 = {
    center: new google.maps.LatLng(51.508742,-0.120850),
    zoom:9,
    mapTypeId: google.maps.MapTypeId.SATELLITE
  };
  var mapProp3 = {
    center: new google.maps.LatLng(51.508742,-0.120850),
    zoom:9,
    mapTypeId: google.maps.MapTypeId.HYBRID
  };
  var mapProp4 = {
    center: new google.maps.LatLng(51.508742,-0.120850),
    zoom:9,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
  var map2 = new google.maps.Map(document.getElementById("googleMap2"),mapProp2);
  var map3 = new google.maps.Map(document.getElementById("googleMap3"),mapProp3);
  var map4 = new google.maps.Map(document.getElementById("googleMap4"),mapProp4);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

</head>
<body>
	<!-- header-section-starts -->
	<div class="c-header" id="home">
		<div class="top-header">
			<div class="container">
			<div class="logo">
				<a href="index.html"><img src="" alt="" /></a>
			</div>
				<div class="header-top-right">
				<!-- start search-->
				    <div class="search-box">
					    <div id="sb-search" class="sb-search">
							<form>
								<input class="sb-search-input" placeholder="Search your Product..." type="search" name="search" id="search">
								<input class="sb-search-submit" type="submit" value="">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
				    </div>
					<!-- search-scripts -->
					<script src="/js/getlist_classie.js"></script>
					<script src="/js/getlist_uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
					<!-- //search-scripts -->

					
				</div>
			<div class="navigation">	
			<div>
              <label class="mobile_menu" for="mobile_menu">
              <span>Menu</span>
              </label>
              <input id="mobile_menu" type="checkbox">
				<ul class="nav">
              <li class="active"><a href="index.html">Home</a></li>                       
                           
            
            <div class="clearfix"></div>
          </ul>
		</div>			
	 </div>
			</div>
		</div>
		</div>
	

	<div class="clearfix"></div>
        <div class="container">
        <div class="list-group">
        <div class="rsidebar span_1_of_left">
			  <a href="#" class="list-group-item">
			    Address of shop
			  </a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
			  <a href="#" class="list-group-item">Address of shop</a>
		</div>
	</div>
<div id="googleMap" style="width:85vh;height:90vh;"></div>



</div>
	</new>
		<div class="footer">
		<div class="up-arrow">
			<a class="scroll" href="#home"><img src="/images/getlist_images/up.png" alt="" /></a>
		</div>
			<div class="container">
				<div class="copyrights">
					<p>Copyrights reserved by Team 23</a></p>
				</div>
				  <div class="clearfix"></div>
			</div>
		</div>
</body>
</html>





