  <!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Store Locator: Shopkeeper Profile</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="/css/shop_profile_bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/css/shop_profile_font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="/css/shop_profile_custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
            <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>

  // In the following example, markers appear when the user clicks on the map.
  // The markers are stored in an array.
  // The user can then click an option to hide, show or delete the markers.
  var map;
  var markers = [];

  function initialize() {
    var haightAshbury = new google.maps.LatLng(parseFloat({{lat}}),parseFloat({{long}}));
    var mapOptions = {
      zoom: 12,
      center: haightAshbury,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

    
    google.maps.event.addListener(map, 'click', function(event) {
      addMarker(event.latLng);
    });

    
    addMarker(haightAshbury);
  }


  function addMarker(location) {
   clearMarkers();
   markers = [];
   var marker = new google.maps.Marker({
    position: location,
    map: map
  });
   markers.push(marker);
   document.getElementById("lat").value = location.lat();
   document.getElementById("long").value = location.lng();


   var infowindow = new google.maps.InfoWindow({
    content: "<b>{{shopname}}</b><br>{{add}}.<br> Run by {{fname}} {{lname}}<br>{{mobile}}" 
  });
   infowindow.open(map,marker);
 }


 function setAllMap(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
}


function clearMarkers() {
  setAllMap(null);
}


google.maps.event.addDomListener(window, 'load', initialize);
  /*var mygetrequest=new ajaxRequest()
  mygetrequest.onreadystatechange=function(){
   if (mygetrequest.readyState==4){
    if (mygetrequest.status==200 || window.location.href.indexOf("http")==-1){
     document.getElementById("result").innerHTML=mygetrequest.responseText
    }
    else{
     alert("An error has occured making the request")
    }
   }
  }
  var f1=encodeURIComponent(document.getElementById("demo").value)
  var f2=encodeURIComponent(document.getElementById("demo1").value)
  mygetrequest.open("GET", "?demo="+f1+"&demo1="+f2, true)
  mygetrequest.send(null)
  */
</script>

  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/shop/profile">{{shopname}}</a>
        </div>
        <div style="color: white;
        padding: 15px 50px 5px 50px;
        float: right;
        font-size: 16px;"> <a href="/shop/logout?url=/shop" class="btn btn-danger square-btn-adjust">Logout</a> </div>
      </nav>
      <!-- /. NAV TOP  -->
      <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="main-menu">
            <li class="text-center">
              <img src="/images/shop_profile_image/find_user.png" class="user-image img-responsive"/>
            </li>


            <li>
              <a  href="/shop/addinventory">Add Inventory</a>
            </li>
            <li >
              <a  href="/shop/editinfo">Edit Profile Info</a>
            </li>

          </ul>

        </div> </nav>
        <div id="page-wrapper" >
          <div id="page-inner">
            <div class="row">
              <div class="col-md-12">
               <h2>{{fname}}</h2>
               <h5>Welcome {{fname}}, Love to see you back. </h5>

             </div>
           </div>
           <!-- /. ROW  -->
           <form method="POST" >
           <div class="form-group">
            <label>Latitude: </label>
            <input type="text" class="form-control" name="lat" id="lat">
                </div>
               <div class="form-group">
            <label>Longitude: </label>
            <input type="text" class="form-control" name="long"  id="long">
                </div> 
            
           

          <div id="map-canvas" style="width:1100px;height:700px;align:center;"></div>
          <br>
          <div class="p-container">
             <div style="color: white;
                font-size:16px; ">
                <input type="submit" class="btn btn-danger square-btn-adjust " value="Save"> 
            </div>          
 
          
          </div>
           </form> 
        