<head>
		<title>Store Locator_Shopkeeper Loading page</title>
		<link href="/css/shop_home_style.css" rel="stylesheet" type="text/css" media="all">
		<link href="/css/shop_home_bootstrap.css" rel="stylesheet" type="text/css" media="all">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
		<!-- js -->
		<script src="/js/shop_home_jquery.min.js"></script>
		<!-- //js -->
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Agriculture_firm Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
				function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- //for-mobile-apps -->
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="/js/shop_home_move-top.js"></script>
		<script type="text/javascript" src="/js/shop_home_easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- banner -->
	<div id="home" class="banner">
	<div class="container">
		<div class="navi">
				
				<div class="banner-nav">
					<span class="menu"><img src="/images/shop_home_images/menu.png" alt=" "></span>
						<nav class="cl-effect-3">
							<ul class="nav1">
								<li class="active"><a href="#home" class="scroll">HOME</a></li>
							</ul>
						</nav>
				</div>				
				<div class="clearfix"> </div>
				
				<div class="banner-info">
					<h1>STORE LOCATOR</h1>
				</div>
				
		</div>
				<!-- script for menu -->
					<script> 
						$( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						});
						});
					</script>
				<!-- //script for menu -->
		<!--<div class="banner-info">
			<div class="banner-info-left">
				<h3>Our mission is to expand your business</span></h3>
				
				<div class="start">
					<a href="#">Learn More...</a>
				</div>
			</div>
				<div class="clearfix"> </div>
			</div>-->
			<div class="clearfix"> </div>
		</div>
			<link rel="stylesheet" href="css/shop_home_swipebox.css">
				<script src="/js/shop_home_jquery.swipebox.min.js"></script> 
					<script type="text/javascript">
						jQuery(function($) {
							$(".swipebox").swipebox();
						});
					</script>
				<!-- Portfolio Ends Here -->
				<script type="text/javascript" src="/js/shop_home_jquery.mixitup.min.js"></script>
					<script type="text/javascript">
					$(function () {
						var filterList = {
							init: function () {
								// MixItUp plugin
							// http://mixitup.io
							$('#portfoliolist').mixitup({
								targetSelector: '.portfolio',
								filterSelector: '.filter',
								effects: ['fade'],
								easing: 'snap',
								// call the hover effect
								onMixEnd: filterList.hoverEffect()
							});	
						},
						hoverEffect: function () {
							// Simple parallax effect
							$('#portfoliolist .portfolio').hover(
								function () {
									$(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
									$(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');				
								},
								function () {
									$(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
									$(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');								
								}		
							);				
						}
					};
					// Run the show!
						filterList.init();
					});	
					</script>
	</div>
	
<!-- //banner -->
<!-- banner-bottom -->
	<div class="banner-bottom">
	<div class="container">
<!-- Slider-starts-Here -->
				<script src="/js/shop_home_responsiveslides.min.js"></script>
				 <script>
				    // You can also use "$(window).load(function() {"
				    $(function () {
				      // Slideshow 4
				      $("#slider3").responsiveSlides({
				        auto: true,
				        pager: true,
				        nav: false,
				        speed: 500,
				        namespace: "callbacks",
				        before: function () {
				          $('.events').append("<li>before event fired.</li>");
				        },
				        after: function () {
				          $('.events').append("<li>after event fired.</li>");
				        }
				      });
				
				    });
				  </script>
			<!--//End-slider-script -->
			<div id="top" class="callbacks_container">
				<ul class="rslides callbacks callbacks1" id="slider3">
					<li class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;" id="callbacks1_s0">
						<div class="banner-bottom-info">
							<h3>We are Store Locator</h3>
							<h3>Our mission is to expand your business.</h3>
							<p> </p>
						</div>
					</li>
					<li class="callbacks1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out 0s;" id="callbacks1_s1">
						<div class="banner-bottom-info">
							<h3>We combine the ease of shopping off-line and provide the customers to know shops in their area better.</h3>
							<p> </p>
						</div>
					</li>
					<li class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;" id="callbacks1_s2">
						<div class="banner-bottom-info">
							<h3>We provide you the smartest and cheapest mode of advertisement and a platform to combine your business with technology.</h3>
							<p> </p>
						</div>
					</li>
				</ul><ul class="callbacks_tabs callbacks1_tabs"><li class="callbacks1_s1"><a href="#" class="callbacks1_s1">1</a></li><li class="callbacks1_s2 callbacks_here"><a href="#" class="callbacks1_s2">2</a></li><li class="callbacks1_s3"><a href="#" class="callbacks1_s3">3</a></li></ul>
			</div>
	</div>
	</div>

	
	
	
<!-- //about-us -->
<!-- //login -->

<div class="login-06">
		<div class="fourth-login">
			<form class="four" method="post">
				<div class="green">
					<input class="text" name="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'EMAIL';}" type="text">
				</div>
				<div class="block">
					<input value="PASSWORD" name="pass" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'PASSWORD';}" type="password">
				</div>
					<input onclick="myFunction()" value="LOG IN" type="submit"> 
				{%if error%}	
				<div class="alert alert-danger" role="alert">
				<span class="sr-only">Error:</span>
  					{{error}}

			</div>
			{%endif%}
			<div class="view"><a href="/registration">SIGN UP</a></div>
			</form>

		</div>
		</div>	


<!-- //pricing -->
<!-- gallery -->
	
<!-- //gallery -->
<!-- contact -->
	
<!-- //contact -->
<!-- footer -->
	<div class="footer">
	<div class="container">
		<div class="temp">
			<p>Store Locator</p>
		<div class="clearfix"> </div>
	</div>
	</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
	</script>
<!-- //here ends scrolling icon -->

</div><a style="display: inline;" href="#" id="toTop"><span id="toTopHover"></span>To Top</a></body>